* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  letter-spacing: -0.08em;
}

.header{
  padding: 40px 40px 0 40px;
    position: absolute;
    left: 0;
    width: 100%;
    
    z-index: 99;
}
.top-header{
  border-bottom: solid 1px #9FA1A680;    padding-bottom: 24px;
}
.css-19bb58m{
  display: none!important;
}
.css-13cymwt-control{
  border: 0!important;    background: transparent !important;min-height: inherit !important;
}
.css-1u9des2-indicatorSeparator{
  display: none!important;
}
.lang-sel .flag-img{
  font-weight: 600;opacity: 1;font-size: 14px!important;letter-spacing: -0.08em;
}
.lang-sel svg{
    width: 15px;
    fill: #2D2926!important;height: auto !important;
    opacity: 1;
}
.css-1xc3v61-indicatorContainer{
  padding: 0!important;
}
.lang-sel .flag-inn{
 background: transparent!important;
}
.lang-sel div{
  font-size: 13px;
}
.lang-sel div{
  padding: 0;
}
.lang-sel .css-hlgwow{
margin: 0;
    flex: inherit;
    display: flex;
    background: transparent;
    padding: 2px 8px 2px 0!important;
}
.lang-sel .css-hlgwow input{
  left:0px;
  position: absolute;
}
[lang="ar"] .lang-sel .css-hlgwow .flag-img{
  flex-direction: row-reverse;
}
[lang="ar"] .lang-sel .css-hlgwow{
  overflow: visible;
  padding: 2px 0px 2px 4px!important;
}
[lang="ar"] .flag-img img{
  margin-right: 4px;
}
.banner .banner-img{
  width: 100%;
  height: auto;
  border-radius: 40px 40px 0 0;
}
.banner-txt{
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bnr-logo{
  margin-bottom: 24px;
}
.banner-txt h1,.banner-txt h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  letter-spacing: -0.08em;
}
.banner-txt h2,.banner-txt h1 span{
font-weight: 700;
}
.btnGroup{
  gap: 20px;
  max-width: 422px;
  align-items: center;
}
.btn{
position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    letter-spacing: -0.08em;
    height: 51px;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    text-align: center;
    margin-top: 24px;
    outline: none!important;
}
.explore-btn,.test-drive-btn:hover{
  background: url(/images/btn1-bg.svg) no-repeat;
  background-size: 100% 100%;
  color: #2D2926;
}
.test-drive-btn,.explore-btn:hover{
  background: url(/images/btn2-bg.svg) no-repeat;
  background-size: 100% 100%;
  color: #fff
}
.intro-txt,.bookTestDrive{
  padding: 120px 0 0 156px;
  position: relative;
  min-height: 607px;
}
.intro-txt::before,.bookTestDrive:before{
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 192px;
  content: '';
  background: url(/images/up-svg.svg) no-repeat;
  background-size: 100% 100%;
}
[lang="ar"] .intro-txt::before,[lang="ar"] .bookTestDrive:before{
transform: rotateY(180deg);
right: inherit;
left: 0;
}
[lang="ar"] .bookTestDrive {
  padding: 120px 156px 0 0;
}
[lang="ar"] .btd-hdg p,[lang="ar"] .btd-hdg h2{
text-align: right;
}
.intro-txt::after,.bookTestDrive:after{
  position: absolute;
  left: 0;
  top: 216px;
  width: 1055px;
  height: 375px;
  content: '';
  background: url(/images/down-svg.svg) no-repeat;
  background-size: 100% 100%;
}
.bookTestDrive:after{
  top: 252px;width: 1216px;
  height: 419px;
  background: url(/images/form-svg-line.svg);
}
[lang="ar"] .intro-txt::after,[lang="ar"] .bookTestDrive::after{
  transform: rotateY(180deg);
  left: inherit;
  right: 0;
  }
[lang="ar"] .intro-txt {
  padding: 120px 156px 0 0;
}
.intro-hdg p{
  font-size: 16px;
  line-height: 20px;
  color: #2D2926;
  padding-top: 8px;
}
.dtl-text{
  max-width: 550px;padding-top: 60px;
}
.dtl-text p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.thirdScreen img,.seventhScreen img{
  width: 100%;
  height: auto;
}
.videoCarousel .swiper-pagination-bullet {
  cursor: pointer;
}

.videoCarousel .swiper-pagination{  
    display: flex;
    justify-content: space-around; 
    bottom: 40px !important;
}

.videoCarousel .swiper-pagination-bullet{
  width: 300px !important;
    background: none !important;
    height: 100%;
    opacity: 1 !important;
    border-bottom: solid 3px #bdb8b5;
    border-radius: 0;
    padding-bottom: 20px;
}
.videoCarousel .swiper-pagination-bullet h4,.videoCarousel .swiper-pagination-bullet p{
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #bdb8b5;    margin: 0;
}
.videoCarousel .swiper-pagination-bullet-active {
  border-bottom: solid 3px #FF5B00;
}
.videoCarousel .swiper-pagination-bullet-active h4,.videoCarousel .swiper-pagination-bullet-active p{
  color: #fff;
}
.videoCarousel{
  padding: 0 40px;
  min-height: 820x;
  margin-top: 106px;
}
.videoCarousel video{
  width: 100%;
    height: 680px;
    background-size: cover;
    object-fit: cover;
    object-position: top;
}
.videoCarousel h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #2D2926;
  padding-left: 156px;
  margin: 0;letter-spacing: -2px;
}
.videoCarousel h3{
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #2D2926;
  padding-left: 156px;letter-spacing: -2px;
  margin-bottom: 50px;
}
[lang="ar"] .videoCarousel h2{
  padding:0 156px 0 0;
}
[lang="ar"] .videoCarousel h3{
  padding:0 156px 0 0;
}
.videoCarousel h3 span{
  color: #FF5B00;
}
.seventhScreen{
  margin-top: 120px;
}
.car-collection h2{
position: relative;
padding-top: 64px;
padding-left: 156px;
font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.car-collection h3{
  position: relative;
  padding-left: 156px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;color: #fff;
}
[lang="ar"] .car-collection h2{
  padding: 64px 156px 0 0;
}
[lang="ar"] .car-collection h3{
  padding: 0px 156px 0 0;
}
.car-collection{
  height: 762px;
  position: relative;
  background: linear-gradient(180deg, #CCCCCC 0%, #FFFFFF 100%);
 
  
}
.car-collection::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: url(/images/car-bg.svg) no-repeat;
  background-size: 100%;
}
.rd6-logo{
  position: absolute;
  top: 264px;
  left: 50%;
  transform: translate(-50%,0);
}
#color-scheme{
  position: absolute;
  top: 337px;
  left: 50%;
  transform: translate(-50%,0); 
  width: 1150px;
}

.car-collection .swiper-fade .swiper-slide {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-collection .swiper-button-prev,.car-collection .swiper-button-next{
  width: 68px;top: 46%;
  height: 68px;
}
.car-collection .swiper-button-prev:after,.car-collection .swiper-button-next:after{
  content: '';
  width: 68px;
  height: 68px;
}
.car-collection .swiper-button-prev:after,[lang="ar"] .car-collection .swiper-button-next:after{
  background: url(/images/swipe-left.svg) no-repeat;    font-size: 0;
}
.car-collection .swiper-button-next:after,[lang="ar"] .car-collection .swiper-button-prev:after{
  background: url(/images/swipe-right.svg) no-repeat;    font-size: 0;
}

.car-collection .swiper-fade .swiper-slide::before{
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 896px;
  height: 324px;
  content: '';
  background: url(/images/car-shadow.png) no-repeat;
  background-size: 100%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.car-collection .swiper-pagination-bullet em {
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
}
.car-collection .swiper-pagination{
  display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0!important;
    position: static;
}
.car-collection .swiper-pagination-bullet{
  width: 24px;
  height: 24px;
  background: transparent;
  display: flex;opacity: 1;
    justify-content: center;
    align-items: center;
}
.car-collection .swiper-pagination-bullet-active{
  border: 1px solid transparent;
}
.btd-hdg p{
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  margin: 0;
}
.btd-hdg h2{
font-size: 50px;
font-weight: 800;
line-height: 50px;
text-align: left;

}
form{
  position: relative;
  z-index: 999;
  max-width: 896px;
  margin-top: 80px;
}
.form-control{
  border: 0;
    padding: 0;
    border-bottom: solid 1px #D0D3D4;
    border-radius: 0;
    padding-bottom: 24px;
    margin-bottom: 32px;
    color: #2D2926;
    font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: inherit !important;
    box-shadow: inherit !important;
}

.form-group{
  position: relative;
}
.error-field{
  position: relative;
  margin-top: -24px;
  margin-bottom: 20px;
}
form button{
  background: url(/images/submit-btn.svg) no-repeat;
  width: 433px;
  height: 51px;
  text-indent: -1000px;
    border: 0;
    margin:32px 0 113px 0;
}
form .consent span{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 8px;
}
form .consent span a{
  color: #FF5B00;
  font-weight: 600;
  text-decoration: none;
  padding-left: 2px;
}
[lang="ar"] .footerLinks{
padding-left: 0;
}
form input::placeholder {
  color: red;
  opacity: 1; 
}

form input::-ms-input-placeholder {
  color: red;
}
form select{
  background: url(/images/angle-small-down.png) no-repeat 16px 16px;
  background-position: right top;
}